body {
  font-family: "Bebas Neue", cursive;
  margin: 0%;
}
.menu {
  text-align: right;
  margin-right: 142px;
}
.menu ul {
  margin: 0;
  padding: 0%;
  list-style: none;
}
.menu li {
  display: inline-block;
}
.menu li a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
  color: tomato;
}
.blue_color {
  color: rgb(43, 101, 226);
}
.white_color {
  color: white;
  float: left;
  margin: 30px 60px;
}
.half-site {
  width: 40%;
  margin-left: 5%;
  float: left;
  padding-left: 2%;
}

.half-site img {
  width: 100%;
}
.shadow-bg {
  box-shadow: 10px 10px 50px gray;
  border-radius: 10px;
  height: 70%;
  width: 25%;
  margin: 22px;
  padding: 30px;
  float: left;
}

.full-site {
  width: auto;
  margin: auto;
}

.last-bg {
  width: 25px;
  height: 10px;
}
section {
  height: 500px;
  padding-bottom: 150px;
}
.top-baner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
  margin: 30px 40px;
}
.Dream-area {
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

.link-button {
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: bolder;
  color: white;
  background-image: linear-gradient(45deg, tomato, rgb(231, 80, 80), blue);
}
.link-button2 {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 700;
  color: white;
  background-image: linear-gradient(45deg, blue, cyan, gold);
}
.link-button3 {
  text-decoration: none;
  padding: 10px 25px;
  margin-top: 20%;
  border-radius: 10px;
  font-weight: bolder;
  color: white;
  background-image: linear-gradient(45deg, tomato, rgb(231, 80, 80), blue);
}

.Experiences {
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}
.Experiences h2 {
  text-align: center;
}
#web-des {
  border-left: 7px solid;
  border-image: linear-gradient(5deg, tomato, blue);
  border-image-slice: 1;
}
#grps-des {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, tomato, blue);
  border-image-slice: 1;
}
#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(5deg, tomato, blue);
  border-image-slice: 1;
}
/* Projects section */
.Ptojects {
  background-color: rgb(223, 221, 221);
}

.shadow-bg2 {
  height: 70%;
  width: 25%;
  margin: 40px;
  padding: 30px;
  float: left;
}

.font-mid {
  text-align: center;
  padding-top: 50px;
  margin-top: 0px;
}

footer {
  text-align: center;
  color: gray;
  font-size: 15px;
}
.dow-ims {
  text-align: center;
  margin: 0 auto;
}
.dow-ims img {
  height: 20px;
  width: 30px;
  margin-bottom: 40px;
}

/* .bg-imgs {
  background-image: url("images/middle-bar.png");
  margin: 20px;
  padding: 20px;
  height: 150px;
  width: 300px;
} */

/* Last section  inquiry_class last top and buttom--> */

.inquiry {
  background-image: url("images/middle-bar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.last-top {
  text-align: center;
  color: white;
  padding: 300px;
}

.left-text {
  float: left;
  margin: 15px 80px;
  width: 20%;
}
.left-text h2 {
  color: white;
  margin: 5px 5px;
}
.right-button {
  float: right;
  margin: 20px 80px;
  width: 20%;
}

/* 
.left-text {
  margin-left: 50px;
  padding: 20%;
}

.right-button {
  margin-left: 30px;
  padding: 30%;
} */

/* <!-- Div Second half --> */
.last-bottom {
  color: gray;
  text-align: center;
  margin: 10px 20px;
  padding: 20px;
}
footer {
  color: black;
  font-size: 15px;
}
